<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/jpeg" href="photos/mypp.jpg">
        <link rel="stylesheet" href="your-stylesheet.css">
    </head>
    <body id="workpage">
        {{> main}}
        <div class="my-work">
           
            <div class="project-container">
                {{#each projects}}
                <div class="work-obj-container" id="{{id}}" onclick="window.location='/project/{{id}}'">
                    <div class="image-wrapper">
                        <a class="work-obj">
                            <img src="{{coverphoto}}" class="work-img" />
                            <div class="work-overlay"></div>
                        </a>
                    </div>
                    <div class="title-cat">
                        <a class="work-title">{{title}}</a>
                        <a class="work-cat">{{category}}</a>
                    </div>
                </div>

                {{/each}}
            </div>
        </div>
       
        <div class="see-more-section">
            <a href="/fun" class="see-more-link">Click For More Projects</a>
        </div>


        {{> footer}}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
            var selectedBackground = localStorage.getItem('selectedBackground');
            if (selectedBackground) {
                document.body.style.backgroundImage = 'url(' + selectedBackground + ')';
            }
        });
        </script>
    </body>
</html>
